/* exo-2-100 - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 100;
  src: url('exo-2-v4-latin-ext_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Thin'), local('Exo2-Thin'),
       url('exo-2-v4-latin-ext_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-100.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-100.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-100italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 100;
  src: url('exo-2-v4-latin-ext_latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Thin Italic'), local('Exo2-ThinItalic'),
       url('exo-2-v4-latin-ext_latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-100italic.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-200 - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 200;
  src: url('exo-2-v4-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Extra Light'), local('Exo2-ExtraLight'),
       url('exo-2-v4-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-200.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-200italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 200;
  src: url('exo-2-v4-latin-ext_latin-200italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Extra Light Italic'), local('Exo2-ExtraLightItalic'),
       url('exo-2-v4-latin-ext_latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-200italic.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-300 - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 300;
  src: url('exo-2-v4-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Light'), local('Exo2-Light'),
       url('exo-2-v4-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-300.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-300italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 300;
  src: url('exo-2-v4-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Light Italic'), local('Exo2-LightItalic'),
       url('exo-2-v4-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-300italic.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-regular - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 400;
  src: url('exo-2-v4-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Exo2'), local('Exo2-Regular'),
       url('exo-2-v4-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-regular.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 400;
  src: url('exo-2-v4-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Italic'), local('Exo2-Italic'),
       url('exo-2-v4-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-italic.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-500 - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 500;
  src: url('exo-2-v4-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Medium'), local('Exo2-Medium'),
       url('exo-2-v4-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-500.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-500italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 500;
  src: url('exo-2-v4-latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Medium Italic'), local('Exo2-MediumItalic'),
       url('exo-2-v4-latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-500italic.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-600 - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 600;
  src: url('exo-2-v4-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'),
       url('exo-2-v4-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-600.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-600italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 600;
  src: url('exo-2-v4-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Semi Bold Italic'), local('Exo2-SemiBoldItalic'),
       url('exo-2-v4-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-600italic.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-700 - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: normal;
  font-weight: 700;
  src: url('exo-2-v4-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Bold'), local('Exo2-Bold'),
       url('exo-2-v4-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-700.svg#Exo2') format('svg'); /* Legacy iOS */
}

/* exo-2-700italic - latin-ext_latin */
@font-face {
  font-family: 'Exo2';
  font-style: italic;
  font-weight: 700;
  src: url('exo-2-v4-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Exo 2 Bold Italic'), local('Exo2-BoldItalic'),
       url('exo-2-v4-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('exo-2-v4-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('exo-2-v4-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('exo-2-v4-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('exo-2-v4-latin-ext_latin-700italic.svg#Exo2') format('svg'); /* Legacy iOS */
}
